# .gitignore

# General
####################
.DS_Store
Thumbs.db
*.log
*.bak
*.swp
# *.lock
*.cache
*.sqlite3
.editorconfig
# .idea/
# .vscode/
.sass-cache/
*.retry
.env
.env.*
!.env.example
# Gatsby
####################
.cache/
public/
node_modules/
yarn-error.log

# Yarn
####################
.yarn/
.yarnrc.yml
.yarn-integrity
.yarn-cache/
.yarn-metadata.json

# WordPress
####################
# wp-config.php
wp-content/uploads/
wp-content/upgrade/
wp-content/backup-db/
wp-content/blogs.dir/
wp-content/cache/
wp-content/backups/

# WP-CLI
####################
wp-cli.local.yml
wp-cli.yml

# NPM
####################
npm-debug.log*


# PHP
####################
packages/wordpress/vendor/
packages/gatsby-starter-wordpress-homepage